body {
  position: relative;
  height: 100%;
  /* background-image: url("../common/img/grain-bg.jpeg"); */
  background-repeat: repeat;
  background-size: 15%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}